#img{
    height: 250px; 
    width: 300px; 
    margin: 90px 58px ;
    object-fit: cover;
    border-radius: 10px;
}

.name{
     
    color: rgb(94, 58,128);
}

body{
    background-color: rgb(169,141,195);
     padding: 20px;
}
#pro{
    display: flex;
    padding: 10px;
    background-color: azure;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}
.info{
    padding: 20px;
    flex: 1;
    box-shadow: 1px,1px solid purple;

}
.price{
     font-size: 1.2rem;
     margin: 10px 0px;
    color: rgb(250, 44, 212);
}
.description{
     
    color:  blueviolet;
}
